{% import 'data.js' as data %}

<html>

  <head>
    <title>{{ board.name }}</title>
    <link rel="stylesheet" href="res/styles.css" />

    <style>
      {% include '_generic/styles.css' %}
    </style>
  </head>

  <body>
    <script>{% include '_generic/functions.js' %}</script>
    <script>{{ data.database(board) }}</script>

    <h1>{{ board.name }}</h1>

    <div style="margin: 5pt; float: left;">
      {% include "board.svg" %}
    </div>


    <table class="data" border="1">
      <tr>
	<th style="text-align:left;">Tag</th>
	<td id="data_tag" style="width:500px;"></td>
      </tr>
      <tr>
	<th style="text-align:left;">Name</th>
	<td id="data_name" style="width:500px;"></td>
      </tr>
      <tr>
	<th style="text-align:left;">Description</th>
	<td id="data_desc" style="width:500px;"></td>
      </tr>
    </table>
      

    <h2>Pins</h2>

    {% for conn in board.connectors %}
    {% if conn.pins %}

    <h3>{{ conn.tag }}: {{ conn.name }}</h3>
    
    <table class="data" border="1">
      <tr>
	<th>Connector</th><th>Pin Number</th><th>Class</th><th>Pin Name</th>
      </tr>

      {% for pin in conn.pins %}
      <tr class="net_{{ pin.net }}">
	<td>{{ conn.tag }}</td>
	<td>{{ pin.tag }}</td>
	<td>{{ pin.net }}</td>
	<td>{{ pin.name }}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
    
    {% endfor %}
    
  </body>
</html>
