<html>

  <head>
    <title>{{ board.name }}</title>
    <link rel="stylesheet" href="res/styles.css" />
  </head>

  <body>
    <script src="res/functions.js"></script>

    <h1>{{ board.name }}</h1>

    {% include "board.svg" %}
    

    <h2>Info</h2>

    <div id="info" style="border: 1pt solid gray; height: 50px;">
      &nbsp;
    </div>


    <h2>Pins</h2>

    {% for conn in board.connectors %}
    {% if conn.pins %}

    <h3>{{ conn.tag }}: {{ conn.name }}</h3>
    
    <table class="pins" border="1">
      <tr>
	<th>Connector</th><th>Pin Number</th><th>Class</th><th>Pin Name</th>
      </tr>

      {% for pin in conn.pins %}
      <tr>
	<td>{{ conn.tag }}</td>
	<td>{{ pin.tag }}</td>
	<td>{{ pin.net }}</td>
	<td>{{ pin.name }}</td>
      </tr>
      {% endfor %}
      {% endif %}
    </table>
    
    {% endfor %}
    
  </body>
</html>
