body {
    font-family: Calibri, sans-serif;
}

.pcb {
    fill: #166927;
}

.conn {
    fill: #aaaaaa;
}

.ic {
    fill: #232830;
}

table.pins {
    border-collapse: collapse;
    font-size: small;
}

tr.net_power {
    background-color: #b9493e;
}

tr.net_io {
    background-color: #eb974e;
}

tr.net_audio {
    background-color: #1164d5;
}

tr.net_bus {
    background-color: #43b74b;
}