<html>

  <head>
    <title>{{ board.name }}</title>
    <link rel="stylesheet" href="res/styles.css" />
  </head>

  <body>
    <script src="res/functions.js"></script>

    <h1>{{ board.name }}</h1>

    {% include "board.svg" %}
    

    <h2>Info</h2>

    <div id="info" style="border: 1pt solid gray;">
      &nbsp;
    </div>


    <h2>Pins</h2>

    {% for cname,conn in board.connectors.items() %}
    {% if conn.pins %}

    <h3>{{ cname }}: {{ conn.name }}</h3>
    
    <ul>
      {% for pname,pin in conn.pins.items() %}    
      <li>{{ cname }}: {{ pname }} - {{ pin.name }}</li>
      {% endfor %}
      {% endif %}
    </ul>
    {% endfor %}
    
  </body>
</html>
